#cch-hero.main_visual {
  width: 100%;
  position: relative;
}

#cch-hero.main_visual .main_visual_item {
  width: 100%;
  position: relative;
}

#cch-hero.main_visual .main_visual_image {
  width: 100%;
  height: calc(100vh - var(--hero-header-height, 60px));
  height: calc(100dvh - var(--hero-header-height, 60px));
  background: #fff;
  overflow: hidden;
  position: relative;
}

#cch-hero.main_visual .main_visual_image img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(1) !important;
  filter: brightness(1) !important;
}

#cch-hero.main_visual .main_visual_info {
  position: absolute;
  left: 15px;
  bottom: 30px;
  z-index: 3;
  color: #fff;
}

#cch-hero.main_visual .main_visual_info a {
  color: #fff;
}

#cch-hero.main_visual .main_visual_info p {
  font-size: 12px;
  line-height: 1.5;
}

#cch-hero.main_visual .main_visual_info .title {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 15px;
}


#cch-hero {margin-top:0;}
#cch-hero picture {display:block;}
#cch-hero img {max-width:none;margin:0;}
