.c-search-field__input:-webkit-autofill,
.c-search-field__input:-webkit-autofill:hover,
.c-search-field__input:-webkit-autofill:focus {
  -webkit-text-fill-color: #333; /* 好きな文字色 */
  box-shadow: 0 0 0px 1000px #fff inset; /* 背景上書き */
  transition: background-color 9999s ease-in-out 0s;
} 

.search-keyword {
  max-width: 560px;
  margin-inline: auto
}

.search-result {
  display: flex;
  justify-content: space-between
}

@media print,
screen and (min-width: 768px) {
  .search-result {
    margin-bottom: 30px
  }
}

@media screen and (max-width: 767.98px) {
  .search-result {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 20px
  }
}

@media print,
screen and (min-width: 768px) {
  .search-result__record {
    font-size: 1rem
  }
}

@media screen and (max-width: 767.98px) {
  .search-result__record {
    font-size: .875rem
  }
}

.search-result__record-number {
  color: #005bac;
  font-weight: bold
}

@media print,
screen and (min-width: 768px) {
  .search-result__record-number {
    font-size: 1.25rem
  }
}

@media screen and (max-width: 767.98px) {
  .search-result__record-number {
    font-size: 1.0625rem
  }
}

.search-result__help {
  align-items: center
}

@media screen and (max-width: 767.98px) {
  .search-result__help {
    align-self: flex-end
  }
}

.search-result__help::before {
  background: #f5f8fa
}

@media print,
screen and (min-width: 768px) {
  .search-result__list {
    margin-bottom: 56px
  }
}

@media screen and (max-width: 767.98px) {
  .search-result__list {
    margin-bottom: 40px
  }
}

.search-result-message {
  padding: 56px 0;
  background: #f5f8fa
}

.search-result-message__title {
  text-align: center;
  color: #005bac;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 1.0625rem
}

.search-result-message__description {
  text-align: center
}

@media print,
screen and (min-width: 768px) {
  .search-result-message__description {
    font-size: 1rem
  }
}

@media screen and (max-width: 767.98px) {
  .search-result-message__description {
    font-size: .875rem
  }
}

@media print,
screen and (min-width: 768px) {
  .store-menu__list {
    margin-top: 33px
  }
}

@media screen and (max-width: 767.98px) {
  .store-menu__list {
    margin-top: 24px
  }
}

@media print,
screen and (min-width: 768px) {
  .store-menu__link {
    margin-top: 40px
  }
}

@media screen and (max-width: 767.98px) {
  .store-menu__link {
    margin-top: 32px
  }
}


.footer-tel-sp,
.footer-tel-pc {
  display: none
}


@media print,
screen and (min-width: 768px) {
  .c-footer__page-top {
    top: 12px !important;
  }
}