.heading-area {
  text-align: center;
  background-color: #f5f8fa;
  padding-inline: 15px
}

@media print,
screen and (min-width: 768px) {
  .heading-area {
    font-size: 1.875rem;
    padding-block: 40px
  }
}

@media screen and (max-width: 767.98px) {
  .heading-area {
    font-size: 1.375rem;
    padding-block: 32px
  }
}

.heading-area__review {
  justify-content: center
}

.section-anchors {
  --height: 0
}

@media print,
screen and (min-width: 768px) {
  .section-anchors {
    display: none
  }
}

@media screen and (max-width: 767.98px) {
  .section-anchors {
    display: flex;
    font-size: .8125rem;
    background-color: #fff;
    box-shadow: 0px 0px 24px 0px rgba(0, 2, 4, .08);
    position: sticky;
    top: 0;
    z-index: 10
  }
}

.section-anchors__item {
  width: 100%
}

.section-anchors__item+.section-anchors__item {
  border-left: 1px solid #edf2f8
}

@media screen and (max-width: 767.98px) {
  .section-anchors__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 12px 6px;
    text-align: center;
    transition: color .3s
  }
}

@media(hover: hover) {
  .section-anchors__link:not(.is-disabled-hover):hover {
    color: #005bac
  }
}

.section-anchors__link:not([data-section=contact]).is-active {
  color: #005bac
}

.section-anchors__link[data-section=contact] {
  min-width: 99px;
  /* color: #fff; */
  /* background-color: #ed0e42 */
}

.section-layout {
  position: relative
}

.content-layout {
  width: 100%
}

@media print,
screen and (min-width: 768px) {
  .content-layout {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 40px 445px
  }
}

@media screen and (max-width: 767.98px) {
  .content-layout {
    padding-inline: 15px
  }
}

@media print,
screen and (min-width: 768px) {
  .shop-photo {
    max-width: 1280px;
    padding-inline: 40px 445px;
    margin-inline: auto
  }
}

.shop-photo__slider {
  padding-bottom: 24px
}

@media print,
screen and (min-width: 768px) {
  .shop-photo+.content-layout .shop-info {
    margin-top: 72px
  }
}

@media screen and (max-width: 767.98px) {
  .shop-photo+.content-layout .shop-info {
    margin-top: 56px
  }
}

@media print,
screen and (min-width: 768px) {
  .shop-info {
    position: relative;
    z-index: 1
  }
}

.shop-info__heading {
  --color: #005bac
}

@media print,
screen and (min-width: 768px) {
  .shop-info__contents {
    margin-top: 48px
  }
}

@media screen and (max-width: 767.98px) {
  .shop-info__contents {
    margin-top: 28px
  }
}

.shop-info__tooltip {
  border-top: 1px solid #d7dfe8
}

@media print,
screen and (min-width: 768px) {
  .shop-info__tooltip {
    padding-top: 24px
  }
}

@media screen and (max-width: 767.98px) {
  .shop-info__tooltip {
    padding-top: 20px
  }
}

.shop-info-list {
  line-height: 1.8
}

@media print,
screen and (min-width: 768px) {
  .shop-info-list {
    font-size: 1rem
  }
}

@media screen and (max-width: 767.98px) {
  .shop-info-list {
    font-size: .875rem
  }
}

.shop-info-list__item {
  display: flex;
  gap: 8px 32px
}

@media print,
screen and (min-width: 768px) {
  .shop-info-list__item {
    padding-bottom: 24px
  }
}

@media screen and (min-width: 768px)and (max-width: 1024px) {
  .shop-info-list__item {
    flex-direction: column
  }
}

@media screen and (max-width: 767.98px) {
  .shop-info-list__item {
    flex-direction: column;
    padding-bottom: 20px
  }
}

.shop-info-list__item+.shop-info-list__item {
  border-top: 1px solid #d7dfe8
}

@media print,
screen and (min-width: 768px) {
  .shop-info-list__item+.shop-info-list__item {
    padding-top: 24px
  }
}

@media screen and (max-width: 767.98px) {
  .shop-info-list__item+.shop-info-list__item {
    padding-top: 20px
  }
}

.shop-info-list__term {
  font-weight: bold;
  color: #06408c;
  overflow-wrap: anywhere;
  word-break: keep-all;
  line-break: strict
}

@media print,
screen and (min-width: 768px) {
  .shop-info-list__term {
    width: 132px
  }
}

@media screen and (min-width: 768px)and (max-width: 1024px) {
  .shop-info-list__term {
    width: auto
  }
}

@media print,
screen and (min-width: 768px) {
  .shop-info-list__description {
    width: calc(100% - 164px)
  }
}

@media screen and (min-width: 768px)and (max-width: 1024px) {
  .shop-info-list__description {
    width: 100%
  }
}

.shop-info-list__description .c-note {
  display: block
}

.awards {
  display: grid;
  margin-top: 12px
}

@media print,
screen and (min-width: 768px) {
  .awards {
    gap: 16px;
    grid-template-columns: repeat(auto-fill, 120px)
  }
}

@media screen and (max-width: 767.98px) {
  .awards {
    gap: 12px;
    grid-template-columns: repeat(auto-fill, 104px)
  }
}

.responsible-person {
  display: flex;
  align-items: center
}

@media print,
screen and (min-width: 768px) {
  .responsible-person {
    column-gap: 16px
  }
}

@media screen and (max-width: 767.98px) {
  .responsible-person {
    column-gap: 12px
  }
}

.responsible-person__icon {
  width: 64px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover
}

.tel-number {
  line-height: 1.8
}

@media print,
screen and (min-width: 768px) {
  .tel-number {
    font-size: 1rem;
    pointer-events: none
  }
}

@media screen and (max-width: 767.98px) {
  .tel-number {
    text-decoration: underline;
    font-size: .875rem;
    color: #005bac
  }
}

.shop-site-link {
  display: inline-flex;
  align-items: center;
  line-height: 1.8;
  color: #005bac;
  text-decoration: underline
}

@media print,
screen and (min-width: 768px) {
  .shop-site-link {
    font-size: 1rem
  }
}

@media screen and (max-width: 767.98px) {
  .shop-site-link {
    font-size: .875rem
  }
}

@media(hover: hover) {
  .shop-site-link:not(.is-disabled-hover):hover {
    text-decoration: none
  }
}

.shop-site-link::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  background-color: #005bac;
  -webkit-mask-image: url("/assets/images/common-parts/icon/launch.svg");
  mask-image: url("/assets/images/common-parts/icon/launch.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain
}

.sns-links {
  display: flex
}

@media print,
screen and (min-width: 768px) {
  .sns-links {
    column-gap: 22px
  }
}

@media screen and (max-width: 767.98px) {
  .sns-links {
    column-gap: 20px
  }
}

.sns-links__link {
  display: inline-flex;
  transition: opacity .3s
}

@media(hover: hover) {
  .sns-links__link:not(.is-disabled-hover):hover {
    opacity: .75
  }
}

@media print,
screen and (min-width: 768px) {
  .sns-links__icon {
    width: 44px;
    height: 44px
  }
}

@media screen and (max-width: 767.98px) {
  .sns-links__icon {
    width: 40px;
    height: 40px
  }
}

.category-list {
  display: grid
}

@media print,
screen and (min-width: 768px) {
  .category-list {
    gap: 12px;
    grid-template-columns: repeat(auto-fill, 48px)
  }
}

@media screen and (max-width: 767.98px) {
  .category-list {
    gap: 8px;
    grid-template-columns: repeat(auto-fill, 42px)
  }
}

.category-list__item {
  border-radius: 4px;
  overflow: hidden
}

@media print,
screen and (min-width: 768px) {
  .cleaning-comparison__contents {
    margin-top: 32px
  }
}

@media screen and (max-width: 767.98px) {
  .cleaning-comparison__contents {
    margin-top: 24px
  }
}

@media print,
screen and (min-width: 768px) {
  .cleaning-comparison__contents+.cleaning-comparison__contents {
    margin-top: 56px
  }
}

@media screen and (max-width: 767.98px) {
  .cleaning-comparison__contents+.cleaning-comparison__contents {
    margin-top: 40px
  }
}

.cleaning-comparison__heading {
  --long-line-color: #edf2f8
}

.cleaning-comparison__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 24px
}

@media print,
screen and (min-width: 768px) {
  .cleaning-comparison__images {
    gap: 24px
  }
}

@media screen and (max-width: 767.98px) {
  .cleaning-comparison__images {
    gap: 13px
  }
}

@media print,
screen and (min-width: 768px) {
  .cleaning-comparison__description {
    margin-top: 24px
  }
}

@media screen and (max-width: 767.98px) {
  .cleaning-comparison__description {
    margin-top: 12px
  }
}

.reviews {
  position: relative
}

@media print,
screen and (min-width: 768px) {
  .reviews {
    padding-block: 72px 96px;
    position: relative;
    z-index: 1
  }
}

@media screen and (max-width: 767.98px) {
  .reviews {
    padding-block: 56px 64px
  }
}

.reviews::before {
  content: "";
  display: inline-flex;
  width: 12px;
  height: 36px;
  background: url("/assets/images/common-parts/decoration/bubbles_blue.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1
}

.review-container {
  margin: 0 !important
}

.reviewWidget_inner {
  padding: 0 !important
}

.contact-layout {
  width: 100%
}

@media print,
screen and (min-width: 768px) {
  .contact-layout {
    max-width: 1280px;
    height: 100%;
    padding-block: calc(90px - 1em) 96px;
    padding-inline: 40px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
  }
}

@media screen and (max-width: 767.98px) {
  .contact-layout {
    background-color: #f5f8fa;
    padding-block: 40px 80px;
    position: relative
  }

  .contact-layout::before {
    content: "";
    display: inline-flex;
    width: 12px;
    height: 36px;
    background: url("/assets/images/common-parts/decoration/bubbles_blue.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: -22px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1
  }
}

@media print,
screen and (min-width: 768px) {
  .contact-contents {
    width: 340px;
    background-color: rgba(0, 0, 0, 0);
    margin-left: auto;
    position: sticky;
    top: 1em
  }
}

@media screen and (max-width: 767.98px) {
  .contact-contents {
    padding-inline: 15px
  }
}

@media screen and (max-width: 767.98px) {
  .contact-contents::before {
    content: "";
    width: 12px;
    height: 36px;
    background-image: url("/assets/images/common-parts/decoration/bubbles_blue.svg");
    position: absolute;
    top: -22px;
    left: 50%;
    transform: translateX(-50%)
  }
}

.contact-contents__reservation-status {
  display: none
}

.contact-contents__reservation-status.is-visible {
  display: block
}

@media print,
screen and (min-width: 768px) {
  .contact-contents__reservation-status+.contact-contents__buttons {
    margin-top: 40px
  }
}

@media screen and (max-width: 767.98px) {
  .contact-contents__reservation-status+.contact-contents__buttons {
    margin-top: 32px
  }
}

.contact-contents__heading {
  font-weight: bold;
  font-size: 1.0625rem;
  color: #06408c
}

@media screen and (max-width: 767.98px) {
  .contact-contents__heading {
    text-align: center
  }
}

.contact-contents__icon-explanation {
  margin-top: 12px
}

.contact-contents__calender {
  margin-top: 24px
}

.contact-contents__note {
  margin-top: 12px
}

.contact-contents__buttons {
  display: flex;
  flex-direction: column;
  gap: 16px
}

.calender-icon-explanation {
  display: flex;
  flex-wrap: wrap;
  gap: 11px 24px;
  padding: 20px;
  margin-top: 12px
}

@media print,
screen and (min-width: 768px) {
  .calender-icon-explanation {
    background-color: #f5f8fa
  }
}

@media screen and (max-width: 767.98px) {
  .calender-icon-explanation {
    background-color: #fff
  }
}

.calender-icon-explanation__item {
  display: flex;
  align-items: center;
  column-gap: 6px
}

.calender-icon-explanation__icon {
  --size: 15px;
  --bg-color: #88929b
}

.calender-icon-explanation__text {
  font-size: .8125rem
}

.calender__head,
.calender__body {
  display: grid;
  grid-template-columns: repeat(7, 1fr)
}

.calender__head {
  background: #e3f1fc
}

.calender__body {
  background-color: #fff
}

.calender__week:nth-child(7n+6),
.calender__date-col:nth-child(7n+6) {
  color: #2a7dd0
}

.calender__week:nth-child(7n+7),
.calender__date-col:nth-child(7n+7) {
  color: #dc3545
}

.calender__week {
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  line-height: 1.8;
  color: #06408c;
  padding-block: 12px
}

.calender__date-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: .8125rem;
  padding-block: 12px;
  border-bottom: solid 1px #d7dfe8
}

.calender__date,
.calender__status {
  display: block
}

.calender__status {
  --size: 15px;
  --bg-color: #88929b
}

@media print,
screen and (min-width: 768px) {
  .contact-button--tel {
    pointer-events: none;
    cursor: default
  }
}


.footer-tel-sp,
.footer-tel-pc {
  display: none
}


@media print,
screen and (min-width: 768px) {
  .c-footer__page-top {
    top: 12px !important;
  }
}