.aria-mv {
  background: linear-gradient(270deg, #36beef 0.01%, #0666bc 100%, #0666bc 100%);
  position: relative
}

@media print,
screen and (min-width: 768px) {
  .aria-mv {
    padding-block: 120px;
    padding-left: 15.2777777778%
  }
}

@media screen and (max-width: 767.98px) {
  .aria-mv {
    padding-block: 22px 26px;
    padding-inline: 32px 16px
  }
}

.aria-mv__text {
  font-weight: bold;
  color: #fff;
  line-height: 1.4;
  position: relative;
  z-index: 1
}

@media print,
screen and (min-width: 768px) {
  .aria-mv__text {
    font-size: 1.875rem
  }
}

@media screen and (max-width: 767.98px) {
  .aria-mv__text {
    font-size: 1.25rem
  }
}

.aria-mv__text-emphasis {
  padding-top: 4px;
  background-position: top left 0;
  background-repeat: repeat-x;
  border: none !important;
}

@media print,
screen and (min-width: 768px) {
  .aria-mv__text-emphasis {
    font-size: 3.25rem;
    background-image: radial-gradient(4px 4px at center center, #ffffff, #ffffff 100%, transparent);
    background-size: 52px 14px
  }
}

@media screen and (max-width: 767.98px) {
  .aria-mv__text-emphasis {
    /* display: inline-block; */
    display: inline;
    font-size: 2rem;
    background-image: radial-gradient(3px 3px at center center, #ffffff, #ffffff 100%, transparent);
    background-size: 32px 6px
  }
}

@media print,
screen and (min-width: 768px) {
  .aria-mv__text-supplement {
    font-size: 2rem;
    margin-left: 4px
  }
}

@media screen and (max-width: 767.98px) {
  .aria-mv__text-supplement {
    font-size: 1.375rem;
    margin-left: 4px
  }
}

.aria-mv__image {
  height: 100%;
  object-fit: cover;
  object-position: center top;
  position: absolute;
  top: 0;
  right: 0
}

.aria-nav {
  width: 100%
}

@media print,
screen and (min-width: 768px) {
  .aria-nav {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 40px
  }
}

@media screen and (max-width: 767.98px) {
  .aria-nav {
    padding-inline: 20px
  }
}

@media print,
screen and (min-width: 768px) {
  .pickup__inner {
    max-width: 1280px;
    padding-inline: 40px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px
  }
}

@media screen and (max-width: 767.98px) {
  .pickup__inner {
    padding-bottom: 24px
  }
}

@media print,
screen and (min-width: 768px) {

  .pickup__button-next,
  .pickup__button-prev {
    display: none
  }
}

@media print,
screen and (min-width: 768px) {
  .pickup__pagination {
    display: none
  }
}

.pickup-card {
  display: block;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 10px 0px rgba(31, 114, 208, .2)
}

@media print,
screen and (min-width: 768px) {
  .pickup-card {
    padding: 32px
  }
}

@media screen and (max-width: 767.98px) {
  .pickup-card {
    padding: 28px
  }
}

.pickup-card__description {
  line-height: 1.8;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical
}

@media print,
screen and (min-width: 768px) {
  .pickup-card__description {
    -webkit-line-clamp: 6;
    font-size: 1rem;
    margin-top: 20px
  }
}

@media screen and (max-width: 767.98px) {
  .pickup-card__description {
    -webkit-line-clamp: 5;
    font-size: .875rem;
    margin-top: 16px
  }
}

@media print,
screen and (min-width: 768px) {
  .pickup-card__button-container {
    margin-top: 24px
  }
}

@media screen and (max-width: 767.98px) {
  .pickup-card__button-container {
    margin-top: 20px
  }
}

.pickup-card-store {
  display: flex;
  align-items: center
}

.pickup-card-store__image {
  width: 35%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover
}

.pickup-card-store__information {
  width: 65%;
  margin-left: 20px
}

.pickup-card-store__heading {
  font-weight: bold;
  font-size: 1.0625rem;
  color: #005bac
}

.pickup-card-store__address {
  color: #525a61;
  font-size: .8125rem
}

@media print,
screen and (min-width: 768px) {
  .each-area {
    max-width: 1280px;
    padding-inline: 40px;
    margin-inline: auto;
    display: flex;
    align-items: flex-start
  }
}

@media screen and (min-width: 768px)and (max-width: 1024px) {
  .each-area {
    display: block;
    max-width: none
  }
}

@media screen and (max-width: 767.98px) {
  .each-area {
    padding-inline: 15px
  }
}

@media screen and (max-width: 767.98px) {
  .each-area__heading {
    text-align: center
  }
}

.each-area__heading-small {
  line-height: 1.8
}

@media print,
screen and (min-width: 768px) {
  .each-area__heading-small {
    font-size: 1rem
  }
}

@media screen and (max-width: 767.98px) {
  .each-area__heading-small {
    font-size: .875rem
  }
}

@media print,
screen and (min-width: 768px) {
  .each-area__select {
    margin-top: 42px
  }
}

@media screen and (max-width: 767.98px) {
  .each-area__select {
    margin-top: 16px
  }
}

@media print,
screen and (min-width: 768px) {
  .each-area__store {
    width: 66.25%
  }
}

@media screen and (min-width: 768px)and (max-width: 1024px) {
  .each-area__store {
    width: 100%
  }
}

@media screen and (max-width: 767.98px) {
  .each-area__store {
    width: 100%
  }
}

@media print,
screen and (min-width: 768px) {
  .each-area__store-list {
    margin-top: 32px
  }
}

@media screen and (max-width: 767.98px) {
  .each-area__store-list {
    margin-top: 24px
  }
}

@media print,
screen and (min-width: 768px) {
  .each-area__pagination {
    margin-top: 56px
  }
}

@media screen and (max-width: 767.98px) {
  .each-area__pagination {
    margin-top: 40px
  }
}

.each-area__popularity-service {
  background-color: #edf2f8
}

@media print,
screen and (min-width: 768px) {
  .each-area__popularity-service {
    width: 28.4166666667%;
    padding: 24px 24px 40px;
    margin-left: 64px
  }
}

@media screen and (min-width: 768px)and (max-width: 1024px) {
  .each-area__popularity-service {
    width: calc(100% + 80px);
    margin-inline: -40px;
    margin-top: 56px
  }
}

@media screen and (max-width: 767.98px) {
  .each-area__popularity-service {
    width: calc(100% + 30px);
    margin-inline: -15px;
    padding: 48px 24px 56px;
    margin-top: 56px
  }
}

@media print,
screen and (min-width: 768px) {
  .each-area__not-found {
    margin-top: 32px
  }
}

@media screen and (max-width: 767.98px) {
  .each-area__not-found {
    margin-top: 24px
  }
}

.select {
  display: flex
}

@media print,
screen and (min-width: 768px) {
  .select {
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px
  }
}

@media screen and (max-width: 767.98px) {
  .select {
    flex-direction: column-reverse;
    gap: 32px
  }
}

.select__button-container {
  position: relative
}

@media screen and (max-width: 767.98px) {
  .select__button-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px
  }
}

.select__button {
  display: inline-flex;
  align-items: center;
  font-size: .8125rem;
  background-color: #f5f8fa;
  border-radius: 20px;
  padding: 10px 20px;
  gap: 4px;
  transition: color .3s
}

@media(hover: hover) {
  .select__button:not(.is-disabled-hover):hover {
    color: #06408c
  }

  .select__button:not(.is-disabled-hover):hover::before {
    background-color: #06408c
  }
}

.select__button::before {
  content: "";
  display: block;
  background-color: #005bac;
  -webkit-mask-image: url("/assets/images/common-parts/icon/adjust.svg");
  mask-image: url("/assets/images/common-parts/icon/adjust.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  width: 20px;
  height: 20px
}

.select__button.is-selected {
  color: #06408c
}

.select__button--swap-arrow::before {
  -webkit-mask-image: url("/assets/images/common-parts/icon/swap-arrow.svg");
  mask-image: url("/assets/images/common-parts/icon/swap-arrow.svg")
}

.select__button--circle-caret-down::before {
  -webkit-mask-image: url("/assets/images/common-parts/icon/circle-caret-down.svg");
  mask-image: url("/assets/images/common-parts/icon/circle-caret-down.svg");
  width: 16px;
  height: 16px
}

@media print,
screen and (min-width: 768px) {
  .select__button+.select__button {
    margin-left: 12px
  }
}

.select__sort {
  display: none;
  position: absolute;
  max-width: 160px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #d7dfe8;
  top: 48px;
  left: 167px;
  z-index: 2;
}

.select__sort.is-active {
  display: block
}

.select__option {
  width: 100%;
  font-size: .8125rem;
  padding: 8px 16px;
  transition: opacity .3s
}

@media(hover: hover) {
  .select__option:not(.is-disabled-hover):hover {
    opacity: .75
  }
}

.select__option.is-active {
  background-color: #edf2f8;
  pointer-events: none
}

@media screen and (max-width: 767.98px) {
  .select__icon-detail {
    margin-inline: auto 0
  }
}

.select__icon-detail::before {
  background-color: #f5f8fa
}

.popularity-service__list {
  margin-top: 24px
}

.popularity-service__item+.popularity-service__item {
  margin-top: 20px
}

.popularity-service-card {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 8px;
  padding-inline: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 10px 0px rgba(31, 114, 208, .2)
}

@media print,
screen and (min-width: 768px) {
  .popularity-service-card {
    padding-bottom: 24px
  }
}

@media screen and (max-width: 767.98px) {
  .popularity-service-card {
    padding-bottom: 28px
  }
}

.popularity-service-card__label {
  position: absolute;
  font-size: .9375rem;
  font-family: "Oswald", sans-serif;
  padding: 2px 15px;
  top: 4px;
  left: 4px
}

@media print,
screen and (min-width: 768px) {

  .popularity-service-card__heading,
  .popularity-service-card__description,
  .popularity-service-card__button-container {
    padding-inline: 16px
  }
}

@media screen and (max-width: 767.98px) {

  .popularity-service-card__heading,
  .popularity-service-card__description,
  .popularity-service-card__button-container {
    padding-inline: 20px
  }
}

.popularity-service-card__heading {
  font-weight: bold;
  color: #06408c;
  margin-top: 20px
}

@media print,
screen and (min-width: 768px) {
  .popularity-service-card__heading {
    font-size: 1rem;
    line-height: 1.8
  }
}

@media screen and (max-width: 767.98px) {
  .popularity-service-card__heading {
    font-size: 1.0625rem;
    line-height: 1.5
  }
}

.popularity-service-card__description {
  font-size: .8125rem;
  line-height: 1.8;
  margin-top: 8px
}

.popularity-service-card__button-container {
  margin-top: 20px
}

.popularity-service-card__button-container .c-button__text {
  font-size: .8125rem;
  padding-inline: 12px
}

.not-found {
  background-color: #f5f8fa;
  padding-inline: 24px;
  text-align: center
}

@media print,
screen and (min-width: 768px) {
  .not-found {
    padding-block: 56px
  }
}

@media screen and (max-width: 767.98px) {
  .not-found {
    padding-block: 40px
  }
}

.not-found__heading {
  font-size: 1.0625rem;
  font-weight: bold;
  color: #005bac
}

.not-found__text {
  line-height: 1.8;
  margin-top: 8px
}

.not-found__link-container {
  display: flex;
  align-items: center;
  justify-content: center
}

@media print,
screen and (min-width: 768px) {
  .not-found__link-container {
    margin-top: 32px
  }
}

@media screen and (max-width: 767.98px) {
  .not-found__link-container {
    margin-top: 28px
  }
}

.not-found__link {
  line-height: 1.8;
  text-decoration: underline;
  text-underline-offset: .2em;
  text-decoration-color: #212529;
  transition: opacity .3s
}

@media print,
screen and (min-width: 768px) {
  .not-found__link {
    font-size: 1rem
  }
}

@media screen and (max-width: 767.98px) {
  .not-found__link {
    font-size: .875rem
  }
}

@media(hover: hover) {
  .not-found__link:not(.is-disabled-hover):hover {
    opacity: .75
  }
}

@media print,
screen and (min-width: 768px) {
  .not-found__link+.not-found__link {
    margin-left: 32px
  }
}

@media screen and (max-width: 767.98px) {
  .not-found__link+.not-found__link {
    margin-left: 24px
  }
}

.not-found__link-button {
  max-width: 272px;
  margin: 24px auto 0
}

@media print,
screen and (min-width: 768px) {
  .service-category__group+.service-category__group {
    margin-top: 56px
  }
}

@media screen and (max-width: 767.98px) {
  .service-category__group+.service-category__group {
    margin-top: 40px
  }
}

.service-category__contents {
  display: grid
}

@media print,
screen and (min-width: 768px) {
  .service-category__contents {
    gap: 20px 40px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px
  }
}

@media screen and (max-width: 767.98px) {
  .service-category__contents {
    gap: 16px;
    margin-top: 16px
  }
}

.service-category__checkbox .c-checkbox__icon {
  margin-top: 10px
}

.service-category__checkbox .c-checkbox__content {
  width: 100%;
  display: grid
}

@media print,
screen and (min-width: 768px) {
  .service-category__checkbox .c-checkbox__content {
    grid-template-columns: 48px auto;
    align-items: flex-start
  }
}

@media screen and (max-width: 767.98px) {
  .service-category__checkbox .c-checkbox__content {
    grid-template-columns: 42px auto
  }
}

.service-category__accordion {
  margin-top: 12px;
  padding-left: 30px
}

.service-category__buttons {
  display: flex;
  justify-content: center;
  background-color: #fff;
  position: sticky;
  bottom: 0
}

@media print,
screen and (min-width: 768px) {
  .service-category__buttons {
    column-gap: 12px;
    margin-bottom: -48px;
    padding-block: 24px
  }
}

@media screen and (max-width: 767.98px) {
  .service-category__buttons {
    column-gap: 8px;
    margin: 0 -8px -40px;
    padding-block: 16px 12px
  }
}

.service-category__button {
  font-weight: bold
}

@media print,
screen and (min-width: 768px) {
  .service-category__button {
    width: 272px;
    font-size: 1rem
  }
}

@media screen and (max-width: 767.98px) {
  .service-category__button {
    width: calc((100% - 8px)/2);
    font-size: .875rem
  }
}

.service-category-icon {
  border-radius: 4px
}

.service-category-text {
  display: flex;
  align-items: center;
  font-weight: bold;
  line-height: 1.5
}

@media print,
screen and (min-width: 768px) {
  .service-category-text {
    padding: 12px 12px;
    font-size: 1rem
  }
}

@media screen and (max-width: 767.98px) {
  .service-category-text {
    padding: 12px 11px;
    font-size: .875rem
  }
}

.service-cancellation-button {
  flex-shrink: 0;
  color: #005bac;
  border: solid 1px #d7dfe8;
  text-align: center;
  transition: opacity .3s
}

@media(hover: hover) {
  .service-cancellation-button:not(.is-disabled-hover):hover {
    opacity: .75
  }
}

@media print,
screen and (min-width: 768px) {
  .lead__accordion {
    margin-top: 64px
  }
}

@media screen and (max-width: 767.98px) {
  .lead__accordion {
    margin-top: 32px
  }
}

@media print,
screen and (min-width: 768px) {
  .municipalities-container {
    max-width: 1280px;
    padding-inline: 40px;
    margin: 64px auto 0
  }
}

@media screen and (max-width: 767.98px) {
  .municipalities-container {
    padding-inline: 15px;
    margin-top: 30px
  }
}

.municipalities {
  background-color: #edf2f8
}

@media print,
screen and (min-width: 768px) {
  .municipalities {
    padding: 32px 24px 40px
  }
}

@media screen and (max-width: 767.98px) {
  .municipalities {
    padding: 20px 16px
  }
}

.municipalities__heading {
  font-weight: bold;
  text-align: center;
  line-height: 1.8;
  color: #525a61;
  background-color: #edf2f8
}

@media print,
screen and (min-width: 768px) {
  .municipalities__heading {
    font-size: 1rem
  }
}

@media screen and (max-width: 767.98px) {
  .municipalities__heading {
    font-size: .875rem
  }
}

.municipalities__note {
  color: #525a61;
  text-align: center
}

@media print,
screen and (min-width: 768px) {
  .municipalities__note {
    margin-top: 16px;
    font-size: .875rem
  }
}

@media screen and (max-width: 767.98px) {
  .municipalities__note {
    margin-top: 12px;
    font-size: .75rem
  }
}

.municipalities__note a {
  color: #005bac;
  text-decoration: underline
}

@media(hover: hover) {
  .municipalities__note a:not(.is-disabled-hover):hover {
    text-decoration: none
  }
}

@media print,
screen and (min-width: 768px) {
  .municipalities__links {
    margin-top: 28px
  }
}

@media screen and (max-width: 767.98px) {
  .municipalities__links {
    margin-top: 16px
  }
}

.municipalities .c-simple-link-button {
  font-weight: normal;
  box-shadow: none;
  border: 1px solid #d7dfe8
}

@media(hover: hover) {
  .municipalities .c-simple-link-button:not(.is-disabled-hover):hover {
    font-weight: bold;
    border-color: var(--color)
  }
}

@media print,
screen and (min-width: 768px) {
  .municipalities .c-simple-link-button__inner {
    padding: 15px
  }
}

@media screen and (max-width: 767.98px) {
  .municipalities .c-simple-link-button__inner {
    padding: 7px
  }
}

.municipalities .c-simple-link-button__text {
  text-align: center
}

@media print,
screen and (min-width: 768px) {
  .municipalities .c-simple-link-button__text {
    font-size: .875rem
  }
}

@media screen and (max-width: 767.98px) {
  .municipalities .c-simple-link-button__text {
    font-size: .75rem;
    justify-content: center
  }
}

@media print,
screen and (min-width: 768px) {
  .store-menu__list {
    margin-top: 32px
  }
}

@media screen and (max-width: 767.98px) {
  .store-menu__list {
    margin-top: 24px
  }
}

.store-menu__list--municipalities .c-simple-link-button {
  font-weight: normal;
  box-shadow: none;
  border: 1px solid #d7dfe8
}

@media(hover: hover) {
  .store-menu__list--municipalities .c-simple-link-button:not(.is-disabled-hover):hover {
    font-weight: bold;
    border-color: var(--color)
  }
}

@media print,
screen and (min-width: 768px) {
  .store-menu__list--municipalities .c-simple-link-button__inner {
    padding: 15px
  }
}

@media screen and (max-width: 767.98px) {
  .store-menu__list--municipalities .c-simple-link-button__inner {
    padding: 7px
  }
}

.store-menu__list--municipalities .c-simple-link-button__text {
  text-align: center
}

@media print,
screen and (min-width: 768px) {
  .store-menu__list--municipalities .c-simple-link-button__text {
    font-size: .875rem
  }
}

@media screen and (max-width: 767.98px) {
  .store-menu__list--municipalities .c-simple-link-button__text {
    font-size: .75rem;
    justify-content: center
  }
}

.store-menu__sub-heading+.store-menu__list {
  margin-top: 18px
}

@media print,
screen and (min-width: 768px) {
  .store-menu__link {
    margin-top: 40px
  }
}

@media screen and (max-width: 767.98px) {
  .store-menu__link {
    margin-top: 32px
  }
}

.store-menu__sub-heading {
  font-weight: bold
}

@media print,
screen and (min-width: 768px) {
  .store-menu__sub-heading {
    font-size: 1rem;
    margin-top: 32px
  }
}

@media screen and (max-width: 767.98px) {
  .store-menu__sub-heading {
    font-size: .875rem;
    margin-top: 24px
  }
}

.store-menu__note {
  font-size: .8125rem;
  text-indent: -1em;
  padding-left: 1em;
  color: #525a61
}

@media print,
screen and (min-width: 768px) {
  .store-menu__note {
    margin-top: 32px
  }
}

@media screen and (max-width: 767.98px) {
  .store-menu__note {
    margin-top: 24px
  }
}

.store-menu__note a {
  color: #005bac;
  text-decoration: underline
}

@media(hover: hover) {
  .store-menu__note a:not(.is-disabled-hover):hover {
    text-decoration: none
  }
}

.icon-explanation-list__item+.icon-explanation-list__item {
  border-top: 1px solid #d7dfe8
}

@media print,
screen and (min-width: 768px) {
  .icon-explanation-list__item+.icon-explanation-list__item {
    padding-top: 24px;
    margin-top: 24px
  }
}

@media screen and (max-width: 767.98px) {
  .icon-explanation-list__item+.icon-explanation-list__item {
    padding-top: 20px;
    margin-top: 20px
  }
}

.icon-explanation-list-item {
  display: flex;
  align-items: flex-start;
  gap: 16px
}

.icon-explanation-list-item__icon {
  flex-shrink: 0;
  border-radius: 4px;
  margin-top: 4px
}

.icon-explanation-list-item__content {
  width: 100%
}

.icon-explanation-list-item__heading {
  font-weight: bold;
  line-height: 1.8;
  color: #06408c
}

@media print,
screen and (min-width: 768px) {
  .icon-explanation-list-item__heading {
    font-size: 1rem
  }
}

@media screen and (max-width: 767.98px) {
  .icon-explanation-list-item__heading {
    font-size: .875rem
  }
}

.icon-explanation-list-item__description {
  font-size: .8125rem;
  margin-top: 2px
}


.footer-tel-sp,
.footer-tel-pc {
  display: none
}


@media print,
screen and (min-width: 768px) {
  .c-footer__page-top {
    top: 12px !important;
  }
}