@charset "utf-8";

/*--- reset */

html {
	overflow-y: scroll; 
	overflow-x: hidden;
	/*font-size: 62.5%;　フォントサイズを10pxに設定*/
}
body,
html {  
    height: 100%;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
figure{
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {font-size: 100%; }

img,
abbr,
acronym,
fieldset {border: 0;}

img{
	vertical-align: bottom;
	line-height: 0;
	width: 100%;
	height: auto;
	/*webpぼやけ対策*/
	image-rendering: -webkit-optimize-contrast;
	backface-visibility: hidden; 
	-webkit-backface-visibility: hidden;
}

li {list-style-type: none;}
li img{vertical-align: bottom;}
p{
	text-justify: inter-ideograph;
}

#wrap a{text-decoration: none;}
#wrap a:hover{opacity:0.7; transition: all .3s; }

/* clearfix */
.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.f-center{text-align:center !important;}

.fc-white{color: #fff;}
.fc-red{color:#E32854;}
.fc-pink{ color: #FA70A7;}

.f-bold{font-weight:700;}

.f-note{font-size: 80%;}
.fs-14{font-size: 14px;}
.fs-18{font-size: 18px;}

/*margin*/
.mb15{margin-bottom: 15px;}
.mb30{margin-bottom: 30px;}

/*padding*/
.ptb120{padding:120px 0;}

/*iphone reset*/
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

/*====================================
 default 
====================================*/
body {
	background: #fff;
	color: #222;
	font-family: "Noto Sans JP", sans-serif;
	font-optical-sizing: auto;
	font-weight:400;
	line-height: 1.8;
	font-style: normal;
	text-align: left;
}
#wrap{
  position:relative;
  height:auto;
  font-weight: normal;
}
#wrap:before {
    content: "";
    display: block;
}
.f-en{
	font-family: "Roboto", sans-serif;
}
/*#cross section*/
.contents{
	padding: 50px 0;
	max-width:1120px;
	margin:0 auto;
	position:relative;
}

/*768*/
@media screen and (max-width: 768px) {
	.sp-none{display:none;}

	/*====================================
	 default 
	====================================*/
	/*#cross section*/
	#wrap{
		overflow-x: hidden;
	}
	.contents{
		width:90%;
		margin:0 5%;
	}
}

header{
	display: flex;
	justify-content:center;
	align-items: center;
	height: 50px;
}
#wrap header h1{
	text-align: center;
}
header .contents{
	padding: 0;
}
header img{
	width: auto;
	height: 36px;
}

/*====================================
 MAIN
====================================*/
.main{
	margin: 0 auto -30px;
	position:relative;
}

/*====================================
 contents
====================================*/
.fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

/*H2*/
#wrap h2, #wrap h3, #wrap h4, #wrap h5{
	line-height:1.4;
	letter-spacing: 1px;
	text-align:center;
	position: relative;
	font-weight: 700;
}

#wrap h2{
	margin-bottom: 30px;
	font-size: clamp(32px, 7.2vw, 48px); /*小さい 中間 大きい*/
}
#wrap h3{
	font-size: clamp(20px, 6vw, 32px); /*小さい 中間 大きい*/
}
#wrap h4{
	font-size: clamp(180px, 5.2vw, 28px); /*小さい 中間 大きい*/
}
#wrap h5{
	font-size: clamp(160px, 4.6vw, 24px); /*小さい 中間 大きい*/
}
#wrap p {
	font-size: clamp(16px, 3vw, 18px);
}
#wrap .heading-01,
#wrap .heading-02,
#wrap .heading-03{
	font-size: 18px;
	text-align: center;
}
.heading-02{
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	color: #CA447E;
}
.heading-03{
	color: #4871CA;
}
.heading-01 span,
.heading-02 span,
.heading-03 span{
	position: relative;
}
.heading-01 span::before,
.heading-01 span::after,
.heading-02 span::before,
.heading-02 span::after,
.heading-03 span::before,
.heading-03 span::after{
	width: 30px;
	height: 1px;
	background: #222;
	position: absolute;
	content: '';
	top: 50%;
	transform: translateY(-50%);
}
.heading-02 span::before,
.heading-02 span::after{
	background: #CA447E;
}
.heading-03 span::before,
.heading-03 span::after{
	background: #4871CA;
}
.heading-01 span::before,
.heading-02 span::before,
.heading-03 span::before{
	left: -40px;
}
.heading-01 span::after,
.heading-02 span::after,
.heading-03 span::after{
	right: -40px;
}
.w-box1{
	padding: 20px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
}
.bubble{
	position: relative;
}
.bubble::before,
.bubble::after{
	width: 50%;
	height: 30px;
	bottom:0;
	content: '';
	position: absolute;
}
.bubble::before{
	left: 0;
	border-radius: 0 30px 0 0;
}
.bubble::after{
	right: 0;
	border-radius: 30px 0 0 0;
}
.img-radius1{border-radius: 10px;}
.img-radius2{border-radius: 20px;}

/*cv*/
.cv{
	background: linear-gradient(180deg, #EF4E7F 0%, #E32854 100%);
	text-align: center;
}
.cv .contents{
	padding: 20px 0 40px;
}
#wrap .cv h2{
	font-size: 16px;
	color: #fff;
}
#wrap .cv h2 span{
	font-size: 20px;
	color: #FFF04D;
}
.btn01 a{
	padding: 18px 52px 18px 30px;
	font-size: 22px;
	border-radius: 50px;
	background: #fff;
	font-weight: 700;
	color: #B62043;
	position: relative;
	box-shadow:3px 3px 0 0 rgba(0, 0, 0, 0.1);
}
.btn01 a::after{
	width: 18px;
	height: 18px;
	right: 25px;
	top: 50%;
	transform: translateY(-50%);
	background: url("/assets/images/kajitatsu/top/icon_arrow.svg") no-repeat right center;
	background-size: cover;
	position: absolute;
	content: '';
}

.num01 {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
}
.num02{
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
}
/*campaign*/
.campaign{
	background: #feeaf2;
	color: #544e34;
}
.campaign .contents{
	padding: 0 0 40px;
}
#wrap .campaign h2{
	margin: 0 auto 15px;
	top: -15px;
	font-size: 20px;
	color: #fff;
}
.campaign h2 span{
	padding: 10px;
	background: #ff4000;
	border-radius: 50px;
}
.campaign h2::after{
	width: 15px;
	height: 10px;
	left: 50%;
	transform: translateX(-50%);
	bottom: -20px;
	background: #ff4000;
	clip-path: polygon(100% 0, 0 0, 50% 100%);
	content: '';
	position: absolute;
}
.campaign .off{
	text-align: center;
	font-weight: 700;
	line-height: 1.3;
}
#wrap .campaign .off p{
	font-size: 20px;
}
.campaign .off .num30{font-size: 30px;}
.campaign .off .num40{font-size: 40px;}
.campaign .off .num60{font-size: 60px;}
.campaign .off .fc-red{
	padding: 0 10px;
	margin: 10px auto;
	background: url("/assets/images/kajitatsu/top/line03.svg") no-repeat center bottom #fff;
	/*https://dev3.osoujihonpo.com/assets/images/kajitatsu/top/line03.svg*/
	background-size: 100% 13px;
	display: inline-block;
	line-height: 1;
}
.campaign .off .num{
	font-size: 50px;
}
.campaign .box-wrap{
	margin: 10px auto;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap:5px;
	position: relative;
	border-radius: 10px;
	background: #fa70a7;
	font-feature-settings: "palt"; 	
}
.campaign dl{
	display: flex;
	gap:10px;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	line-height: 1.2;
}
.campaign dl dt{
	order: 2;
	text-align: center;
	border-radius: 4px;
}
.campaign dl.dl01{
	padding: 7px;
	background: #fff;
	border-radius: 10px;	
}
.campaign .dl01 dd{
	font-size: 16px;
}
.campaign .dl01 .num01{
	font-size: 30px;
	font-weight: 500;
	text-decoration: line-through;
	text-decoration-color: #e32854; 
	text-decoration-style: solid; 
}
.campaign .dl01 dt{
	padding: 4px;
	font-size: 12px;
	background: #eee;
}
.campaign dl.dl02{
	position: relative;
	color: #fff;
}
.campaign .dl02 .num01{
	margin-right: 5px;
	font-size: 50px;
	font-weight: 500;
}
.campaign .dl02 ul{	
	font-size: 14px;
	display: flex;
	align-items: center;
}
.campaign .dl02 dt{
	padding: 5px;
	font-size: 14px;
	color: #fa70a7;
	background: #fff;
}

#wrap .campaign .fs-11{
	font-size: 11px;
}

#wrap .link{
	margin-top: 10px;
	text-align: center;
}
#wrap .link a{
	padding: 0 20px;
	color: #B62043;
	font-weight: 700;
	text-decoration: underline;
	background: url("/assets/images/kajitatsu/top/icon_arrow.svg") no-repeat right center;
	background-size: 14px auto;
}

/*problem*/
.problem.bubble::before,
.problem.bubble::after{
	background:#F5EDEF;
}
#wrap .problem h2{
	font-size: 18px;
}
.problem .fc-red{
	font-size: 28px;
}
.problem-top{
	position: relative;
}
.problem-top.bubble::before,
.problem-top.bubble::after{
	background:#fff;
}
#wrap .problem-top h2{
	margin-bottom: 0;
	font-size: 60px;
	line-height: 60px;
	font-family: "Roboto", sans-serif;
	letter-spacing: 0;
	color: #F5EDEF;
}
.problem-top figure{
	width: 90%;
	margin: 0 auto -50px;
}
#wrap .problem-top p{
	padding: 40px 0 60px;
	font-size: 18px;
	line-height: 1.6;
	color: #fff;
	background: #555;
}
#wrap .problem-top p span{
	font-size: 22px;
	color: #FFE553;
}
.problem-under{
	padding: 20px 0 50px 0;
}
.problem-under figure{
	margin: -120px auto -50px auto;
}
#wrap .problem-under p{
	position: relative;
	z-index: 10;
}


/*feature*/
.feature{
	background: #F5EDEF;
	counter-reset: number 0; 
}
.feature.bubble::before,
.feature.bubble::after{
	background: #fff;
}
#wrap .feature h2{
	font-size: 36px;
}
#wrap .feature .fs-22{
	font-size: 22px;
	font-weight: 700;
	text-align: center;
}
.feature .three-wrap{
	margin-right: 5px;
	background: #fff;
}
.feature .three{
	font-size: 44px;
	color: #CA447E;
	background: url("/assets/images/kajitatsu/top/line01.svg") no-repeat center bottom;
	position: relative
}
.feature .box{
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: flex-start;
	gap:10px;
}
.feature .box::before{
	width: 70px;
	height:70px;
	left: -10px;
	top: -10px;
	font-size: 20px;
	text-align: center;
	font-weight: 600;
	font-family: "Oswald", sans-serif;
	background: #FA70A7;
	color: #fff;
	border-radius: 50%;
	counter-increment: number 1; 
	content: "0" counter(number); 
	position: absolute;
	display: grid;
	place-items: center;
	z-index: 100;
}
#wrap .feature h3 span{
	line-height: 1.6;
	color: #CA447E;
	border-bottom: 2px dotted #CA447E;
}

/*plans*/
.plans{
	counter-reset: number 0; 
}
.plans h2{
	padding-bottom: 5px;
	font-size: 22px;
	background: url("/assets/images/kajitatsu/top/line02.svg") no-repeat center bottom;
}
#wrap .plans h2 span{
	font-size: 32px;
	color: #CA447E;
}
.plans .box{
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 20px;
	box-sizing: border-box;
	position: relative;
}
.plans .box::before{
	width: 70px;
	height: 70px;
	border-radius: 20px 0 ;
	font-size: 18px;
	text-align: center;
	font-weight: 700;
	left: 0;
	top:0;
	position: absolute;
	counter-increment: number 1; 
	content: "例" counter(number); 
	background: #FA70A7;
	color: #fff;
	display: grid;
	place-items: center;
}
#wrap .plans .box h3{
	margin: -10px 0 20px 65px;
	text-align: left;
	line-height: 1.3;
}
#wrap .plans .box .note{
	margin: 5px 0;
	font-size: 80% ;
	text-align: right;
}
.plans .box ul{
	display: table;
	margin: 0 auto;
}
.plans .box li{
	margin:0.5px 10px;
	text-align: left;
	font-size: 14px;
	list-style-type: disc;
}
.example .box-wrap{
	margin-top: 10px;
	gap:10px;
	font-size: 14px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.example .box-wrap figure{
	padding: 10px;
	width: 50px;
	height: 50px;
	background: #F5F8FF;
	border-radius: 6px;
}
.example .box-wrap dl{
	display: flex;
	flex: 1;
	flex-direction: column;
}
.example .box-wrap dt{
	font-weight: 700;
}

/*price*/
.price{
	background: #F4F2E9;
}
.price .contents{
	padding: 50px 0 10px;
}
#wrap .price h3{
	margin: -35px auto 35px;
}
#wrap .price h3 span{
	padding: 5px 20px;
	color: #fff;
	border-radius: 50px;
	background: #976076;
}
#wrap .price .plan1 h3 span{
	padding: 10px 30px;
	background: #FA70A7;
}
.price .box{
	margin: 50px auto;
}
.price ul{
	font-size: 13px;
	gap:10px;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1.3;
	font-weight: 700;
}
.price-list{
	padding-bottom: 10px;
	margin-bottom: 15px;
	color: #E32854;
	border-bottom: 1px solid #ddd;
}
.price-list li:nth-of-type(1),
.time-list li:nth-of-type(1){
	padding: 0.25px 10px;
	font-size: 13px;
	color: #fff;
	background: #E32854;
	border-radius: 50px;
}
.time-list li:nth-of-type(1){
	background: #999;
}
.price-list li:nth-of-type(2){
	font-size: 52px; /*42px*/
	font-weight: 600;
	font-family: "Oswald", sans-serif;
}
.price-list li:nth-of-type(3){
	font-size: 16px;
}
.time-list li:nth-of-type(2){
	font-size: 18px;
}
.price .price-list02{
	font-size: 14px;
	gap:5px;
	align-items: baseline;
}
.price-list02 li:nth-of-type(2){
	font-size: 36px;
	font-weight: 600;
	font-family: "Oswald", sans-serif;
	text-decoration: line-through;
	text-decoration-color: #e32854; 
	text-decoration-style: solid; 
}
#wrap .price .box p{
	margin-top: 20px;
	padding: 10px;
	font-size: 14px;
	background: #f5f5f5;
	border-radius: 10px;
}

/*chance*/
.chance{
	background: url("/assets/images/kajitatsu/top/chance_bg.webp") no-repeat center top;
	background-size: cover;
}
.chance .contents{
	padding: 0 0 50px;
}
.chance figure img{
	object-fit: cover;
}
#wrap .chance h2{
	padding-bottom: 25px;
	font-size: 28px;
	background: url("/assets/images/kajitatsu/top/chance_fuki.svg") no-repeat center bottom;
}

/*area*/
.area{
	border-top: 1px solid #ccc;
}
.area .contents{
	padding: 50px 0 70px;
}
.area.bubble::before,
.area.bubble::after{
	background: #F5EDEF;
}
#wrap .area h2::before{
	top:-70px;
	font-size: 60px;
	font-weight: 700;
	font-family: "Roboto", sans-serif;
	color: #F5F3EB;
	content: 'AREA';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
#wrap .area h2{
	padding-top: 10px;
	font-size: 28px;
}
.area figure{
	width: 80%;
	margin: 0 auto;
}

/*voice*/
.voice{
	background: #F5EDEF;
}
.voice.bubble::before,
.voice.bubble::after{
	background: #fff;
}
.voice .contents{
	padding: 50px 0 80px;
}
.voice .thumb{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
	font-size: 14px;
}
.voice .thumb figure{
	max-width: 115px;
}
.voice .thumb dt{
	font-size: 20px;
	line-height: 1.4;
	font-weight: 700;
	color: #CA447E;
}
.voice ul{
	margin: 20px auto;
	display: flex;
	justify-content: center;
	font-weight: 700;
	box-sizing: border-box;
}
.voice li{
	border: 1px solid #EFB09C;
	padding: 5px 10px;
}
.voice li:first-child{
	background: #EFB09C;
	border-radius:100px 0 0 100px;
	color: #fff;
}
.voice li:last-child{
	color: #E6957C;
	border-radius: 0 100px 100px 0;
}

/*flow*/
.flow{
	background:url("/assets/images/kajitatsu/top/flow_bg.webp") no-repeat center top #B3DDEE;
	background-size: cover;
	counter-reset: number 0; 
}
.flow.bubble::before,
.flow.bubble::after{
	background: #fff;
}
.flow ul{
	position: relative;
}
.flow li{
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.flow li::after{
	height: 100%;
	border-left: 4px dotted rgba(0,0,0,0.4);
	left: 80px;
	bottom: -35px;
	position: absolute;
	content: '';
	z-index: 1;
}
.flow li:last-child::after{
	content: none;
}
.flow .num{
	min-width: 45px;
	font-size: 30px;
	font-weight: 600;
	font-family: "Oswald", sans-serif;
	color: #FA70A7;
}
.flow .num::before{
	counter-increment: number 1; 
	content: "0" counter(number); 
}
.flow .box{
	display: flex;
	justify-content: flex-start;
	position: relative;
	flex: 1;
	z-index: 10;
	border-radius: 10px;
}
.flow .box figure{
	margin-right: 15px;
	max-width: 38px;
}
.flow .box dl{
	display: flex;
	flex-direction: column;
	flex: 1;
}
.flow .box dt{
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 700;
}

/*faq*/
.faq dt{
	padding: 18px 25px 18px 30px;
	font-size: 18px;
	line-height: 1.4;
	font-weight: 700;
	position: relative;
	display: block;
	cursor: pointer;
	transition: 0.2s;
	border-top: 1px solid #D3CFCB;
}
.faq .lastdt{
	border-bottom: 1px solid #D3CFCB;
}
.faq .lastdt.is-open{
	border-bottom: none;
}
.faq dt::before{
	font-size: 30px;
	left: 0;
	color: #FA70A7;
	font-weight: 700;
	font-family: "Roboto", sans-serif;
	content: 'Q';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.faq dt::after{
	font-size: 20px;
	right: 0;
	font-weight: 400;
	top: 50%;
	transform: translateY(-50%);
	content: "＋";
	position: absolute;
	transition: 0.2s;
}
.faq dt.mouseover::after,
.faq dt.is-open::after{
	content: "－";
}
.faq dt.mouseover::after{
	content: '＋';
}
.faq dd{
	padding: 15px 0 15px 30px;
	font-size: 14px;
	border-top: 1px solid #eee;
	position: relative;
	display: none;
	line-height: 1.8;
}
.faq .lastdd{
	border-bottom: 1px solid #eee;
}
.faq dd::before{
	font-size: 30px;
	left: 0;
	top: 5px;
	color: #97B7FC;
	font-weight: 700;
	font-family: "Roboto", sans-serif;
	content: 'A';
	position: absolute;
}

/*caution*/
.caution li{
	margin: 10px;
	font-size: 14px;
	list-style-type: disc;
}

#wrap #footer {
	padding: 10px 0;
	font-size: .7rem;
	width: 100%;
	background: #999;
}
#wrap #footer .footer-inner {
	max-width: 1120px;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
#wrap #footer .footer-inner ul li {
	display: inline;
	padding: 0 6px 0 0;
	border-right: 1px solid #fff;
}
#wrap #footer .footer-inner ul li:first-child {
	border-left: none;
}
#wrap #footer .footer-inner ul li a {
	color: #fff;
	text-decoration: none;
}
#wrap #footer address {
	font-size: .8rem;
	font-style: normal;
	color: #fff;
}

/*pagescroll*/
#scrollUp {
	width: 60px;
	height: 60px;
    bottom: 10px;
    right: 10px;
	text-align: center;
	background: rgba(32,119,215,0.9);
	border-radius: 50%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	display: grid;
	place-items: center;
}
#scrollUp img{
	width: 40%;
}


