<section class="l-section l-section--limited l-section--blue-bubbles" id="service-sets" style="--bg-color: #e3f1fc;">
<div class="l-section-inner l-section-inner--limited">
<div class="recommend-plan">
<h2 class="c-heading-level-3 recommend-plan__heading">組み合わせてご利用いただけるプラン</h2>
</div>
<p class="c-text recommend-plan__text">ご希望の機種に合わせてプランをお選びください</p>
<div class="recommend-plan__tab c-tab js-tab">
<div class="c-tab__buttons js-tab-buttons" role="tablist"><button aria-controls="recommend-plan-tab-panel_01" aria-selected="true" class="c-tab__button" id="recommend-plan-tab-button_01" role="tab" tabindex="0" type="button">壁掛けタイプ</button><button aria-controls="recommend-plan-tab-panel_02" aria-selected="false" class="c-tab__button" id="recommend-plan-tab-button_02" role="tab" tabindex="-1" type="button">天井埋め込みタイプ</button></div>
<div class="c-tab__panels">
<div aria-labelledby="recommend-plan-tab-button_01" class="c-tab__panel is-active" id="recommend-plan-tab-panel_01" role="tabpanel" tabindex="0">
<div class="recommend-plan-cards">


</div>
</div>
<div aria-labelledby="recommend-plan-tab-button_02" class="c-tab__panel" id="recommend-plan-tab-panel_02" role="tabpanel" tabindex="-1">
<div class="recommend-plan-cards">

</div>
</div>
</div>
</div>
</div>
</section>
