<section class="l-section l-section--limited l-section--blue-wave l-section--blue-bubbles u-pb-96_64" style="--bg-color: #e3f1fc;">
<div class="l-section-inner l-section-inner--limited">
<div class="u-width-pc-1024">
<div class="c-issue-list">
<h2 class="c-heading-level-3 c-issue-list__heading">こんなお悩みはありませんか？</h2>
<div class="c-grid c-issue-list__cards" style="--grid-col-pc: repeat(3, 1fr); --grid-gap-pc: 20px; --grid-col-sp: repeat(1, 1fr); --grid-gap-sp: 16px;">
<div class="c-issue-card">
<div class="c-issue-card__inner">
<div class="c-issue-card__icon-circle"><span class="c-icon c-icon--face-bad c-issue-card__icon"></span></div>
<p class="c-issue-card__text">長年放っておいたコンロの汚れ、家庭での掃除では取り切れない…</p>
</div>
</div>
<div class="c-issue-card">
<div class="c-issue-card__inner">
<div class="c-issue-card__icon-circle"><span class="c-icon c-icon--face-bad c-issue-card__icon"></span></div>
<p class="c-issue-card__text">蛇口の裏側などの<br/>細かいところまで手が回らない</p>
</div>
</div>
<div class="c-issue-card">
<div class="c-issue-card__inner">
<div class="c-issue-card__icon-circle"><span class="c-icon c-icon--face-bad c-issue-card__icon"></span></div>
<p class="c-issue-card__text">ピカピカなキッチンで<br/>気持ちよくお料理がしたい</p>
</div>
</div>
</div>
</div>
<div class="u-mt-72_64">
<div class="p-content-box">
<h2 class="c-heading-level-2 p-content-box__heading">プロのハウスクリーニングで、<br/>キッチンまわりを清潔・キレイに！</h2>
<div class="p-content-box__content u-width-pc-750">
<div class="c-tab js-tab">
<div class="c-tab__buttons js-tab-buttons" role="tablist"><button aria-controls="compare-image_tab-panel_01" aria-selected="true" class="c-tab__button" id="compare-image_tab-button_01" role="tab" tabindex="0" type="button">レンジフード・換気扇</button><button aria-controls="compare-image_tab-panel_02" aria-selected="false" class="c-tab__button" id="compare-image_tab-button_02" role="tab" tabindex="-1" type="button">キッチン</button><button aria-controls="compare-image_tab-panel_03" aria-selected="false" class="c-tab__button" id="compare-image_tab-button_03" role="tab" tabindex="-1" type="button">冷蔵庫</button></div>
<div class="c-tab__panels">
<div aria-labelledby="compare-image_tab-button_01" class="c-tab__panel is-active" id="compare-image_tab-panel_01" role="tabpanel" tabindex="0">
<div class="c-compare-image-tab">
<div class="c-compare-image js-compare-image c-compare-image-tab__compare-image"><img alt="Before イメージ" class="c-flex-image c-compare-image__item" height="433" loading="lazy" src="/assets/images/house-cleaning/compare-image/rangehood_before.webp" width="750"/> <img alt="After イメージ" class="c-flex-image c-compare-image__item" height="433" loading="lazy" src="/assets/images/house-cleaning/compare-image/rangehood_after.webp" width="750"/></div>
<p class="c-text c-compare-image-tab__text">クリスタルクリーンホームでは、換気扇を分解洗浄し、ファンやフィルターなど細かい部品に付いた落ちにくい油汚れも丁寧に洗浄。換気扇をお掃除すれば、換気効率がアップして、快適にお料理ができます。</p>
<p class="c-note mt20">汚れの状態によっては、落としきれないことがございます。</p>
<p class="c-note">本比較画像は作業の一例です。</p>
<div class="c-compare-image-tab__link-container"><a class="c-icon-link-text" href="#anchor01"><span class="c-icon-link-text__text">レンジフードのお掃除ラインナップを見る</span><span class="c-icon c-icon--circle-caret-right c-icon-link-text__icon"></span></a></div>
</div>
</div>
<div aria-labelledby="compare-image_tab-button_02" class="c-tab__panel" id="compare-image_tab-panel_02" role="tabpanel" tabindex="0">
<div class="c-compare-image-tab">
<div class="c-compare-image js-compare-image c-compare-image-tab__compare-image"><img alt="Before イメージ" class="c-flex-image c-compare-image__item" height="433" loading="lazy" src="/assets/images/house-cleaning/compare-image/kitchen_before.webp" width="750"/> <img alt="After イメージ" class="c-flex-image c-compare-image__item" height="433" loading="lazy" src="/assets/images/house-cleaning/compare-image/kitchen_after.webp" width="750"/></div>
<p class="c-text c-compare-image-tab__text">ガス台、コンロ、シンクはもちろん、見落としがちなグリル、高所にある照明・吊戸棚、窓や壁までしっかりお掃除するので、キッチン一式がピカピカになります。</p>
<p class="c-note mt20">汚れの状態によっては、落としきれないことがございます。</p>
<p class="c-note">本比較画像は作業の一例です。</p>
<div class="c-compare-image-tab__link-container"><a class="c-icon-link-text" href="#anchor02"><span class="c-icon-link-text__text">キッチンのお掃除ラインナップを見る</span><span class="c-icon c-icon--circle-caret-right c-icon-link-text__icon"></span></a></div>
</div>
</div>
<div aria-labelledby="compare-image_tab-button_03" class="c-tab__panel" id="compare-image_tab-panel_03" role="tabpanel" tabindex="0">
<div class="c-compare-image-tab">
<div class="c-compare-image js-compare-image c-compare-image-tab__compare-image"><img alt="Before イメージ" class="c-flex-image c-compare-image__item" height="433" loading="lazy" src="/assets/images/house-cleaning/compare-image/rei-bottle-pocket_before.webp" width="750"/> <img alt="After イメージ" class="c-flex-image c-compare-image__item" height="433" loading="lazy" src="/assets/images/house-cleaning/compare-image/rei-bottle-pocket_after.webp" width="750"/></div>
<p class="c-text c-compare-image-tab__text">クリスタルクリーンホームでは庫内の部品を取り外し、プロの技術で徹底的にクリーニングいたします。アルカリ電解水を用い、「防カビ」「抗菌」効果を一定期間キープする「防カビチタンコーティング」で仕上げます。</p>
<p class="c-note mt20">汚れの状態によっては、落としきれないことがございます。</p>
<p class="c-note">本比較画像は作業の一例です。</p>
<p class="c-note">使用状況によって防カビチタンコーティングの効果期間は異なります。</p>
<p class="c-note">全てのカビや菌を抑制するものではありません。</p>
<div class="c-compare-image-tab__link-container"><a class="c-icon-link-text" href="#anchor03"><span class="c-icon-link-text__text">冷蔵庫のお掃除ラインナップを見る</span><span class="c-icon c-icon--circle-caret-right c-icon-link-text__icon"></span></a></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>