<section class="l-section l-section--limited l-section--blue-bubbles" style="--bg-color: #e3f1fc;">
<div class="l-section-inner l-section-inner--limited">
<div class="u-width-pc-1024">
<div class="p-content-box">
<h2 class="c-heading-level-2 p-content-box__heading">キッチンクリーニングに関するよくある質問</h2>
<div class="p-content-box__content">
<div class="c-faq-accordion js-accordion" data-simple-type="true">
<div class="c-faq-accordion__item">
<h3 class="c-faq-accordion__heading"><button aria-controls="faq-accordion_01" class="c-faq-accordion__trigger js-accordion-trigger" type="button">支払いはどのようにすればよいですか？また、クレジット払い・電子決済はできますか？</button></h3>
<div class="c-faq-accordion__content" id="faq-accordion_01">
<p class="c-faq-accordion__text"><span>クリーニング作業後にサービス代金をお支払いいただきます。<br/>以下の方法でお支払いが可能です。<br/>・現金<br/>・クレジットカード<br/>・電子決済（楽天ペイ）<br/><span class="c-note">クレジットカード・電子決済でのお支払いは、一部対応できない店舗もござ います。事前にクリスタルクリーンホーム店舗へお確かめください。</span></span></p>
</div>
</div>
<div class="c-faq-accordion__item">
<h3 class="c-faq-accordion__heading"><button aria-controls="faq-accordion_02" class="c-faq-accordion__trigger js-accordion-trigger" type="button">出張料金はかかりますか？</button></h3>
<div class="c-faq-accordion__content" id="faq-accordion_02">
<p class="c-faq-accordion__text">ご依頼されるクリーニング先によって異なります。詳しくは、事前のお見積り時などにご説明いたします。</p>
</div>
</div>
<div class="c-faq-accordion__item">
<h3 class="c-faq-accordion__heading"><button aria-controls="faq-accordion_03" class="c-faq-accordion__trigger js-accordion-trigger" type="button">お見積り金額とは別に費用がかかることはありますか？</button></h3>
<div class="c-faq-accordion__content" id="faq-accordion_03">
<p class="c-faq-accordion__text">基本的にお見積りでご提示した料金以外は発生しません。遠方の場合は交通費、駐車スペースが無い場合は駐車場代金が必要になる場合があります。</p>
</div>
</div>
<div class="c-faq-accordion__item">
<h3 class="c-faq-accordion__heading"><button aria-controls="faq-accordion_04" class="c-faq-accordion__trigger js-accordion-trigger" type="button">レンジフードの外側の箱（カバー）は清掃範囲に含まれますか</button></h3>
<div class="c-faq-accordion__content" id="faq-accordion_04">
<p class="c-faq-accordion__text"><span>室内側のフード部分は清掃の対象です。<br/><span class="c-note">屋外側のフード部分は清掃の対象外です。</span></span></p>
</div>
</div>
<div class="c-faq-accordion__item">
<h3 class="c-faq-accordion__heading"><button aria-controls="faq-accordion_05" class="c-faq-accordion__trigger js-accordion-trigger" type="button">キッチンクリーニングにダクト清掃も含まれますか？</button></h3>
<div class="c-faq-accordion__content" id="faq-accordion_05">
<p class="c-faq-accordion__text"><span>キッチンクリーニングメニューではダクトのお掃除は行っておりません。ダクトのお掃除をご希望の方は、<a class="faq_link_text" href="/house-cleaning/room/duct/" rel="noopener" style="text-decoration: underline;">換気ダクトクリーニング</a>をお申し込みください。</span></p>
</div>
</div>
</div>
<div class="p-content-box__link-container"></div>
</div>
</div>
</div>
</div>
</section>