<div class="c-floating-buttons is-visible" id="js-floating">
<a class="c-cart-confirm" href="/cart/">
<p class="c-cart-confirm__icon" data-cart-count="0" id="js-floating-total-amount">
<span class="c-icon c-icon--cart c-cart-confirm__cart-icon"></span>
</p>
<h2 class="c-cart-confirm__heading">カート確認・見積り予約</h2>
<dl class="c-cart-confirm__total-amount">
<dt class="c-cart-confirm__term">合計金額（税込）：</dt>
<dd class="c-cart-confirm__price" id="js-floating-total-quantity">0</dd>
</dl>
</a>
</div>