<div class="p-page-anchors">
<h2 class="c-double-line-heading p-page-anchors__heading">清掃箇所を選ぶ</h2>
<div class="c-grid c-page-anchors p-page-anchors__cards" style="--grid-col-pc: repeat(auto-fit, minmax(228px,228px)); --grid-gap-pc: 15px; --grid-col-sp: repeat(3,1fr); --grid-gap-sp: 12px;"><a class="c-category-simple-card c-category-simple-card--icon-down c-page-anchors__anchor" href="#anchor01">
<div class="c-category-simple-card__top"><span class="c-illust c-illust--ventilation-fan c-category-simple-card__icon"></span></div>
<div class="c-category-simple-card__bottom">
<h3 class="c-category-simple-card__text">レンジフード・換気扇</h3>
</div>
</a> <a class="c-category-simple-card c-category-simple-card--icon-down c-page-anchors__anchor" href="#anchor02">
<div class="c-category-simple-card__top"><span class="c-illust c-illust--kitchen c-category-simple-card__icon"></span></div>
<div class="c-category-simple-card__bottom">
<h3 class="c-category-simple-card__text">キッチン</h3>
</div>
</a> <a class="c-category-simple-card c-category-simple-card--icon-down c-page-anchors__anchor" href="#anchor03">
<div class="c-category-simple-card__top"><span class="c-illust c-illust--fridge c-category-simple-card__icon"></span></div>
<div class="c-category-simple-card__bottom">
<h3 class="c-category-simple-card__text">冷蔵庫</h3>
</div>
</a> <a class="c-category-simple-card c-category-simple-card--icon-down c-page-anchors__anchor" href="#anchor04">
<div class="c-category-simple-card__top"><span class="c-illust c-illust--dishwasher-dryer c-category-simple-card__icon"></span></div>
<div class="c-category-simple-card__bottom">
<h3 class="c-category-simple-card__text">食器洗い乾燥機</h3>
</div>
</a></div>
</div>