<section class="l-section l-section--blue-bubbles u-pb-96_64">
<div class="l-section-inner">
<div class="p-reasons">
<h2 class="c-heading-level-2 p-reasons__heading" style="--color: #06408c;">クリスタルクリーンホームが選ばれる理由</h2>
<div class="c-grid c-reasons p-reasons__contents c-reasons--navy" style="--grid-col-pc: repeat(3, 1fr); --grid-gap-pc: 0; --grid-col-sp: repeat(1, 1fr); --grid-gap-sp: 24px;">
<div class="c-reasons__item">
<div class="c-reason-card c-reasons__card">
<h3 class="c-reason-card__heading">清掃内容のご案内</h3>
<p class="c-reason-card__description">クリスタルクリーンホームでは、お掃除の内容に応じた料金を事前にご案内します。ご希望の日時や作業内容も伺い、無理のない範囲で調整いたします。</p>
</div>
<div aria-hidden="true" class="c-reasons__navy"></div></div>
<div class="c-reasons__item">
<div class="c-reason-card c-reasons__card">
<h3 class="c-reason-card__heading">清潔感のあるスタッフ</h3>
<p class="c-reason-card__description">ご自宅にスタッフを迎えるからこそ、清潔感やマナーは大切です。クリスタルクリーンホームでは、お客様に気持ちよくご利用いただけるよう、身だしなみを徹底して確認しています。</p>
</div>
<div aria-hidden="true" class="c-reasons__navy"></div></div>
<div class="c-reasons__item">
<div class="c-reason-card c-reasons__card">
<h3 class="c-reason-card__heading">確かな技術力</h3>
<p class="c-reason-card__description">クリスタルクリーンホームでは、作業前に清掃する箇所の状態を確認し、内容を分かりやすくご案内します。細かな部分にも目を配りながら、丁寧に作業を進めます。</p>
</div>
<div aria-hidden="true" class="c-reasons__navy"></div></div>
</div>

</div>
</div>
</section>
