<section class="l-section l-section--limited l-section--blue-bubbles">
<div class="l-section-inner l-section-inner--limited">
<div class="u-width-pc-1024">
<div class="p-content-box">
<h2 class="c-heading-level-2 p-content-box__heading">キッチンクリーニングご利用までの流れ</h2>
<div class="p-content-box__content">
<ol class="c-step-list">
<li class="c-step-list__item c-step-list-item">
<h3 class="c-step-list-item__heading"><span class="c-step-list-item__heading-step">step 01</span><span class="c-step-list-item__heading-main">無料見積り</span></h3>
<div class="c-step-list-item__contents">
<div class="c-step-list-item__icon-box">
<div class="c-icon c-icon--estimate c-step-list-item__icon"></div>
</div>
<div class="c-step-list-item__text">
<p>各サービスページで作業内容をご覧いただけます。現在、このサイトから見積りや予約の送信はできません。</p>
</div>
</div>
</li>
<li class="c-step-list__item c-step-list-item">
<h3 class="c-step-list-item__heading"><span class="c-step-list-item__heading-step">step 02</span><span class="c-step-list-item__heading-main">お電話のご連絡・ご相談</span></h3>
<div class="c-step-list-item__contents">
<div class="c-step-list-item__icon-box">
<div class="c-icon c-icon--contact c-step-list-item__icon"></div>
</div>
<div class="c-step-list-item__text">
<p>通常のご依頼では、訪問日と作業内容を事前に確認し、当日の流れをご案内します。</p>
</div>
</div>
</li>
<li class="c-step-list__item c-step-list-item">
<h3 class="c-step-list-item__heading"><span class="c-step-list-item__heading-step">step 03</span><span class="c-step-list-item__heading-main">ご訪問・見積りのご確認</span></h3>
<div class="c-step-list-item__contents">
<div class="c-step-list-item__icon-box">
<div class="c-icon c-icon--visit c-step-list-item__icon"></div>
</div>
<div class="c-step-list-item__text">
<p>ご依頼の日時に担当スタッフがお伺いします。所用時間・料金・サービス内容などの最終お見積りをご確認いただき、相違がなければサービス開始！</p>
</div>
</div>
</li>
<li class="c-step-list__item c-step-list-item">
<h3 class="c-step-list-item__heading"><span class="c-step-list-item__heading-step">step 04</span><span class="c-step-list-item__heading-main">サービスの実施・仕上がりのご確認</span></h3>
<div class="c-step-list-item__contents">
<div class="c-step-list-item__icon-box">
<div class="c-icon c-icon--cleaning c-step-list-item__icon"></div>
</div>
<div class="c-step-list-item__text">
<p>クリーニング終了後、お客様に仕上がりを確認していただきます（万が一、やり残しなどがあった場合は再度クリーニングをします）。</p>
</div>
</div>
</li>
<li class="c-step-list__item c-step-list-item">
<h3 class="c-step-list-item__heading"><span class="c-step-list-item__heading-step">step 05</span><span class="c-step-list-item__heading-main">お支払い</span></h3>
<div class="c-step-list-item__contents">
<div class="c-step-list-item__icon-box">
<div class="c-icon c-icon--pay c-step-list-item__icon"></div>
</div>
<div class="c-step-list-item__text">
<p>現金、クレジットカード、電子決済でお支払いいただけます。</p>
</div>
<p class="c-note c-step-list-item__note">ご利用可能なクレジットカード・電子決済は店舗によって異なります。各お支払い方法利用の可否や種類に関しては、ご利用の各店舗にお確かめください。</p>
</div>
</li>
</ol>
</div>
</div>
</div>
</div>
</section>