<section class="l-section l-section--limited l-section--blue-bubbles" style="--bg-color: #f5f8fa;">
<div class="l-section-inner l-section-inner--limited">
<div class="p-content-box">
<h2 class="c-heading-level-2 p-content-box__heading">ご利用者様の声</h2>
<div class="p-content-box__content">
<div class="c-grid" style="--grid-col-pc: repeat(2, 1fr); --grid-gap-pc: 32px; --grid-col-sp: repeat(1, 1fr); --grid-gap-sp: 16px;">
<div class="c-voice-card">
<h3 class="c-voice-card__heading"></h3>
<p class="c-voice-card__text"></p>
</div>
<div class="c-voice-card">
<h3 class="c-voice-card__heading"></h3>
<p class="c-voice-card__text"></p>
</div>
<div class="c-voice-card">
<h3 class="c-voice-card__heading"></h3>
<p class="c-voice-card__text"></p>
</div>
<div class="c-voice-card">
<h3 class="c-voice-card__heading"></h3>
<p class="c-voice-card__text"></p>
</div>
<div class="c-voice-card">
<h3 class="c-voice-card__heading"></h3>
<p class="c-voice-card__text"></p>
</div>
<div class="c-voice-card">
<h3 class="c-voice-card__heading"></h3>
<p class="c-voice-card__text"></p>
</div>
</div>
</div>
</div>
</div>
</section>
